<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>private-maven</id>
            <username>${MAVEN_USERNAME}</username>
            <password>${MAVEN_PASSWORD}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>private-maven-mirror</id>
            <mirrorOf>central</mirrorOf>
            <url>https://private-maven.company.com/repository/</url>
        </mirror>
    </mirrors>
</settings>
